.side-bar {
    margin: 0;
    padding: 0;
    width: 110%;
    background-color: #283046;
    height: 100vh;
    margin-top: 0px;
  }

   .side-bar-select{
    background-color: #161d31 !important;
    border: 1px solid #161d31 !important;
    color: #b2c0c3;
   }

   .dash-select-menu-wrapper{
     color: #b2c0c3;
     width: 100%;
     font-size: 19px;
     display: flex;
     justify-content: space-between;
     padding: 15px;
   }

   .dash-select-menu-wrapper div{
    background: #161d31;
    width: 100%;
    padding: 5px 10px;
    }

    .dash-select-menu-wrapper div:first-child{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .dash-select-menu-wrapper div:last-child{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }


    .badge-wrapper{
      display: flex;
    justify-content: flex-end;
    align-items: center;
    }

   .dash-number{
     color: #ff9f43;
     background-color: #ff9f432b;
     border-radius: 50%;
     height: 25px;
     width: 25px;
     margin-right: 6px;
     padding-top: 6px;
   }
   
   .dash-name-wrapper{
    display: flex;
    align-items: center;
   }

   .dash-name-wrapper span:last-child{
     margin-left: 10px;
   }

  .side-bar-content{
    max-width: 100%;
  }

  .category{
    color: #b2c0c3;
    padding-left: 2rem;
  }

  .category ul{
    padding: 0;
    margin-top: 1rem;
  }

  .category li{
    list-style: none;
    margin: 5px -10px;
    padding: 10px 10px;
  }

  .category-li-with-chevron-right{
    display: flex;
    justify-content: space-between;
  }

  .category-li-with-chevron-right span{
    margin-left: -2.75rem !important;
  }

  .category li span{
    margin-left: 7px;
    font-size: 1rem;
  }

  .category li svg{
    font-size: 1.5rem;
  }

  .category li:hover{
    background-color: #161d31;
    cursor: pointer;
  }

  .category-title-span{
    color:#6a6a6a !important;
  }

  .category-1{
    margin: 2rem 0;
  }

  .cards-span-li{
    display: flex;
  }

  .cards-span-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .cards-span-wrapper span:first-child{
    padding-left: 10px !important;
  }

  .new-badge{
    color: #28c76f;
    border: 1px solid rgba(40,199,111,.12);;
    background-color: rgba(40,199,111,.12);
    border-radius: 25px;
    font-size: 14px;
    margin-right: 2rem;
  }

  @media screen and (max-width: 768px) {
    .side-bar {
      display: none;
    }
    .side-bar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .side-bar a {
      text-align: center;
      float: none;
    }
  }