.app {
    background-color: #161d31;
    position: fixed;
    height: 100%;
    width: 100%;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif !important;
}

.content {
    height: 100vh;
    overflow: auto;
    max-width: 100%;
    padding: 1rem 1.5rem;
}

.app-row {
    height: 100%;
}